.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #2c210fc5;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #2c210fc5;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .headerTitle{
    width: auto;
    height: 60px;
    margin-left: 30px;
    margin-right: auto;
    line-height: 60px;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .App_mainbackground{
    width: 100%;
    height: calc(100vh - 60px);
    background:  url("./Images/12.jpg") center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .headerImage{
    width: 140px;
    height: 60px;
    background:  url("./Images/logo--white.svg");
    display: inline-block;
    margin-left: auto;
    margin-right: 30px;
  }
  .contentFrame{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #eeeeee86;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .container{
    margin-top: 0;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
  }
.HeaderContainer{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px);
    height: auto;
    margin-left: 30px;
    margin-right: auto;
}
.ChooseContainer{
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding-left: 30px;
    float: top;
}
.PredictContainer{
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px);
    height: auto;
    margin-left: 30px;
    margin-right: auto;
}
.LoaderContainer{
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px);
    height: auto;
    margin-left: 30px;
    margin-right: 0;
}
.ResulttContainer{
    margin-top: 0;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px);
    height: 80px;
    margin-left: 30px;
    margin-right: 0;
}

  #upload-file{
    width: 80px;
    margin-left: 0;
    margin-right: auto;
  }

  .btnPosition{
    font-size: 1em !important; 
    padding: 12px 30px;
    width: 123px;
    margin-left: 0;
    margin-right: auto;
  }
  .btn-primary{
    background-color: #2c210fc5 !important;
    border-color: rgba(255, 255, 255, 0.379);
  }